@model PrimeiroCRUD.Models.Carro

@{
    ViewData["Title"] = "Excluir";
}

<h2>Excluir</h2>

<div class="row">
    @Html.DisplayFor(model => model.Marca)
    @Html.DisplayFor(model => model.Nome)
    @Html.DisplayFor(model => model.Ano)
</div>


<form asp-action="Excluir">
    <input type="hidden" asp-for="CarroId" />
    <input type="submit" value="Excluir" class="btn btn-danger" />

</form>